<app-header></app-header>
<div class="container">
  <form [formGroup]="newLinkForm" (ngSubmit)="onSubmit()">
    <label class="text">Enter a URL to be shortened</label>
    <br>
    <input class="textbox" type="url" formControlName="original_link" placeholder="Paste your link here.">
    <br>
    <br>
    <br>
    <label class="text">Your shortened link</label>
    <br>
    <output class="textbox" type="text" formControlName="tiny_link">Shortened link will appear here</output>
    <br>
    <button class="button" id="submitButton">Submit</button>
  </form>
</div>
